In [2]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [3]:
# Construct the relative path to your CSV file
csv_file_path = 'C:\\Users\\afshi\\Documents\\GitHub\\immo-eliza-ml\\data\\properties.csv'

# Read the CSV file and create a DataFrame
df = pd.read_csv(csv_file_path)
df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [4]:
print(df.dtypes)
df.columns

id                                  int64
price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
latitude                          float64
longitude                         float64
construction_year                 float64
total_area_sqm                    float64
surface_land_sqm                  float64
nbr_frontages                     float64
nbr_bedrooms                      float64
equipped_kitchen                   object
fl_furnished                        int64
fl_open_fire                        int64
fl_terrace                          int64
terrace_sqm                       float64
fl_garden                           int64
garden_sqm                        float64
fl_swimming_pool                    int64
fl_floodzone                        int64
state_building                     object
primary_energy_consumption_sqm    float64
epc                                object
heating_type                       object
fl_double_glazing                   int64
cadastral_income                  float64
dtype: object

Index(['id', 'price', 'property_type', 'subproperty_type', 'region',
       'province', 'locality', 'zip_code', 'latitude', 'longitude',
       'construction_year', 'total_area_sqm', 'surface_land_sqm',
       'nbr_frontages', 'nbr_bedrooms', 'equipped_kitchen', 'fl_furnished',
       'fl_open_fire', 'fl_terrace', 'terrace_sqm', 'fl_garden', 'garden_sqm',
       'fl_swimming_pool', 'fl_floodzone', 'state_building',
       'primary_energy_consumption_sqm', 'epc', 'heating_type',
       'fl_double_glazing', 'cadastral_income'],
      dtype='object')

In [5]:
#calculate how much null values each columns have 
# List of columns
columns = ['id', 'price', 'property_type', 'subproperty_type', 'region',
           'province', 'locality', 'zip_code', 'latitude', 'longitude',
           'construction_year', 'total_area_sqm', 'surface_land_sqm',
           'nbr_frontages', 'nbr_bedrooms', 'equipped_kitchen', 'fl_furnished',
           'fl_open_fire', 'fl_terrace', 'terrace_sqm', 'fl_garden', 'garden_sqm',
           'fl_swimming_pool', 'fl_floodzone', 'state_building',
           'primary_energy_consumption_sqm', 'epc', 'heating_type',
           'fl_double_glazing', 'cadastral_income']

# Calculate percentage of null values for each column
null_percentages = (df[columns].isnull().sum() / len(df)) * 100

# Create a DataFrame to store the results
null_percentages_df = pd.DataFrame({'Column': null_percentages.index, 'Null Percentage': null_percentages.values})

# Print the result
print(null_percentages_df)

                            Column  Null Percentage
0                               id         0.000000
1                            price         0.000000
2                    property_type         0.000000
3                 subproperty_type         0.000000
4                           region         0.000000
5                         province         0.000000
6                         locality         0.000000
7                         zip_code         0.000000
8                         latitude        18.670128
9                        longitude        18.670128
10               construction_year        44.220047
11                  total_area_sqm        10.084623
12                surface_land_sqm        48.014197
13                   nbr_frontages        34.890281
14                    nbr_bedrooms         0.000000
15                equipped_kitchen         0.000000
16                    fl_furnished         0.000000
17                    fl_open_fire         0.000000
18                      fl_terrace         0.000000
19                     terrace_sqm        17.401438
20                       fl_garden         0.000000
21                      garden_sqm         3.892148
22                fl_swimming_pool         0.000000
23                    fl_floodzone         0.000000
24                  state_building         0.000000
25  primary_energy_consumption_sqm        35.182953
26                             epc         0.000000
27                    heating_type         0.000000
28               fl_double_glazing         0.000000
29                cadastral_income        59.550264

In [95]:

# Imputing missing values with mean in numerical values
numerical_features = ["cadastral_income","surface_land_sqm","price", "total_area_sqm", "latitude", "longitude", "garden_sqm", "primary_energy_consumption_sqm", "construction_year", "nbr_frontages", "nbr_bedrooms", "terrace_sqm" ]
fl_features = ["fl_garden", "fl_furnished", "fl_open_fire", "fl_terrace","fl_swimming_pool", "fl_floodzone", "fl_double_glazing"]
cat_features = ['property_type', 'subproperty_type', 'region', 'province', 'locality', 'zip_code', 'state_building', 'epc', 'heating_type', 'equipped_kitchen']



imputer = SimpleImputer(strategy='mean')
df[numerical_features] = imputer.fit_transform(df[numerical_features])
nan_counts = df.isna().sum()
print(nan_counts)
df.head()

id                                    0
price                                 0
property_type                         0
subproperty_type                      0
region                                3
province                              3
locality                              3
zip_code                              0
latitude                              0
longitude                             0
construction_year                     0
total_area_sqm                        0
surface_land_sqm                      0
nbr_frontages                         0
nbr_bedrooms                          0
equipped_kitchen                  33022
fl_furnished                          0
fl_open_fire                          0
fl_terrace                            0
terrace_sqm                           0
fl_garden                             0
garden_sqm                            0
fl_swimming_pool                      0
fl_floodzone                          0
state_building                    26643
primary_energy_consumption_sqm        0
epc                               24003
heating_type                      31444
fl_double_glazing                     0
cadastral_income                      0
dtype: int64

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,None,231.000000,C,GAS,1,922.000000
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,None,221.000000,C,None,1,406.000000
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,1688.748002,None,GAS,0,1885.941298
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,None,99.000000,A,None,0,1885.941298
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,50.886625,4.328660,...,1,142.0,0,0,AS_NEW,19.000000,A+,GAS,0,1885.941298

In [98]:

## Imputing missing values on categorical values
# Replace "MISSING" with None in categorical features
df[cat_features] = df[cat_features].replace("MISSING", None)

# Drop missing values from the entire DataFrame
df.dropna(inplace=True)

# Count missing values in the entire DataFrame
nan_counts = df.isna().sum()

# Print the count of missing values
print(nan_counts)

id                                0
price                             0
property_type                     0
subproperty_type                  0
region                            0
province                          0
locality                          0
zip_code                          0
latitude                          0
longitude                         0
construction_year                 0
total_area_sqm                    0
surface_land_sqm                  0
nbr_frontages                     0
nbr_bedrooms                      0
equipped_kitchen                  0
fl_furnished                      0
fl_open_fire                      0
fl_terrace                        0
terrace_sqm                       0
fl_garden                         0
garden_sqm                        0
fl_swimming_pool                  0
fl_floodzone                      0
state_building                    0
primary_energy_consumption_sqm    0
epc                               0
heating_type                      0
fl_double_glazing                 0
cadastral_income                  0
dtype: int64

In [99]:
# Imputing missing values on f1 features values
df[fl_features].isnull().sum()

fl_garden            0
fl_furnished         0
fl_open_fire         0
fl_terrace           0
fl_swimming_pool     0
fl_floodzone         0
fl_double_glazing    0
dtype: int64

In [101]:
# Perform one-hot encoding for categorical features
#df_encoded = pd.get_dummies(df, columns=cat_features, drop_first=True)

# Print the encoded DataFrame
#print(df_encoded.head())






# Assuming 'df' is your DataFrame and 'cat_features' contains categorical feature names

# Perform one-hot encoding for categorical features


# Assuming 'df' is your DataFrame and 'cat_features' contains categorical feature names

# Verify Categorical Features List
# Perform one-hot encoding for categorical features
df_encoded = pd.get_dummies(df, columns=cat_features, drop_first=True)
# Convert boolean values to integers (0s and 1s)
df_encoded = df_encoded.astype(int)



# Print the first few rows of the encoded DataFrame to verify
print(df_encoded.head())

          id   price  latitude  longitude  construction_year  total_area_sqm  \
4   48727000  982700        50          4               2022             169
14    599000  110000        50          4               1918             150
15  67642000  920000        51          2               1946             163
20  10079000  549000        51          3               2001             185
27  73440000  249000        50          3               1984             127

    surface_land_sqm  nbr_frontages  nbr_bedrooms  fl_furnished  ...  \
4               1157              2             2             0  ...
14                 0              2             2             0  ...
15               897              4             4             0  ...
20               571              4             4             0  ...
27               485              3             3             0  ...

    heating_type_PELLET  heating_type_SOLAR  heating_type_WOOD  \
4                     0                   0                  0
14                    0                   0                  0
15                    0                   0                  0
20                    0                   0                  0
27                    0                   0                  0

    equipped_kitchen_INSTALLED  equipped_kitchen_NOT_INSTALLED  \
4                            0                               0
14                           1                               0
15                           1                               0
20                           0                               0
27                           0                               0

    equipped_kitchen_SEMI_EQUIPPED  equipped_kitchen_USA_HYPER_EQUIPPED  \
4                                0                                    0
14                               0                                    0
15                               0                                    0
20                               0                                    0
27                               1                                    0

    equipped_kitchen_USA_INSTALLED  equipped_kitchen_USA_SEMI_EQUIPPED  \
4                                0                                   0
14                               0                                   0
15                               0                                   0
20                               0                                   0
27                               0                                   0

    equipped_kitchen_USA_UNINSTALLED
4                                  0
14                                 0
15                                 0
20                                 0
27                                 0

[5 rows x 1075 columns]

In [109]:

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the numeric features
df_encoded[numerical_features] = scaler.fit_transform(df_encoded [numerical_features])

# Print the standardized DataFrame
print(df_encoded .head())

          id     price  latitude  longitude  construction_year  \
4   48727000  1.157963 -0.538259  -0.010916           1.449570
14    599000 -0.688163 -0.538259  -0.010916          -1.637933
15  67642000  1.025326  1.537779  -3.081735          -0.806682
20  10079000  0.240505  1.537779  -1.546325           0.826132
27  73440000 -0.394120 -0.538259  -1.546325           0.321444

    total_area_sqm  surface_land_sqm  nbr_frontages  nbr_bedrooms  \
4        -0.020832          0.000310      -0.774406     -0.615812
14       -0.162100         -0.138283      -0.774406     -0.615812
15       -0.065443         -0.030834       1.618098      0.592975
20        0.098131         -0.069885       1.618098      0.592975
27       -0.333108         -0.080187       0.421846     -0.011418

    fl_furnished  ...  heating_type_PELLET  heating_type_SOLAR  \
4              0  ...                    0                   0
14             0  ...                    0                   0
15             0  ...                    0                   0
20             0  ...                    0                   0
27             0  ...                    0                   0

    heating_type_WOOD  equipped_kitchen_INSTALLED  \
4                   0                           0
14                  0                           1
15                  0                           1
20                  0                           0
27                  0                           0

    equipped_kitchen_NOT_INSTALLED  equipped_kitchen_SEMI_EQUIPPED  \
4                                0                               0
14                               0                               0
15                               0                               0
20                               0                               0
27                               0                               1

    equipped_kitchen_USA_HYPER_EQUIPPED  equipped_kitchen_USA_INSTALLED  \
4                                     0                               0
14                                    0                               0
15                                    0                               0
20                                    0                               0
27                                    0                               0

    equipped_kitchen_USA_SEMI_EQUIPPED  equipped_kitchen_USA_UNINSTALLED
4                                    0                                 0
14                                   0                                 0
15                                   0                                 0
20                                   0                                 0
27                                   0                                 0

[5 rows x 1075 columns]

In [110]:
# Save df_encoded to a CSV file
df_encoded.to_csv('encoded_data.csv', index=False)